
.img-user {
    width: 150px;
    height: 150px; 
}

.user-title {
    margin-bottom: 10px; 
}

.btn-user {
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.button-container .btn-user {
    width: calc(100% / 3 - 10px); 
    margin-right: 5px; 
    margin-bottom: 5px; 
}

.button-container .btn-user:last-child {
    margin-right: 0;
}

.btn-user {
    font-size: 12px; 
    padding: 5px 10px; 
}

.btn-user .fa-solid {
    font-size: 14px;
}