<figure class="text-center">
    <img class="img-fluid rounded-circle img-user" [src]="miUsuario.image" alt="">
</figure>
<div class="text-center mb-3"> 
    <h4 class="card-title user-title">{{miUsuario.first_name}} {{miUsuario.last_name}}</h4>
</div>
<div class="button-container text-center mb-5"> 
    <a [routerLink]="['/user', miUsuario._id]" class="btn btn-primary mb-2 btn-user">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div>Detalle</div>
    </a> 
    <a [routerLink]="['/updateuser', miUsuario._id]"  class="btn btn-primary mb-2 btn-user">
        <i class="fa-solid fa-rotate"></i>
        <div>Actualizar</div>
    </a> 
    <a class="btn btn-primary mb-2 btn-user" (click)="borrarUser()">
        <i class="fa-solid fa-trash-can"></i>
        <div>Borrar</div>
    </a> 
</div>









