<section class="mt-3">
    <div class="row">
        <div class="col-md-6 border-end border-dark d-flex align-items-center">
            <figure class="mx-auto">
                <img class="img-fluid rounded-circle img-user" [src]="usuario.image" alt="">
            </figure>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div>
                <h4>{{usuario.first_name}}</h4>
                <h4 style="margin-bottom: 10px;">{{usuario.last_name}}</h4>
                <p><strong>Nombre Usuario:</strong> {{usuario.username}}</p>
                <p><strong>Email:</strong> {{usuario.email}}</p>
                <div class="text-center">
                    <app-botonera [idUser]="usuario._id"></app-botonera>
                </div>
            </div>
        </div>
    </div>
</section>


