<div class="btn-group d-flex align-items-stretch">
    <a class="btn btn-primary equal-width btn-with-border text-center d-flex align-items-center justify-content-center" (click)="borrarUser()">Eliminar</a>
    <a [routerLink]="['/updateuser', idUser]" class="btn btn-primary equal-width btn-with-border text-center d-flex align-items-center justify-content-center">Actualizar</a>
    <a [routerLink]="['/users']" class="btn btn-primary equal-width btn-with-border text-center d-flex align-items-center justify-content-center">Volver a listado</a>
</div>